@import "tailwindcss";

:root {
  --brand-blue: #007FFF;
  --brand-lime: #C7FF01;
  --background: #ffffff;

}

@theme inline {
  --font-heading: var(--font-russo);
  --font-sans: var(--font-space);
 

  --color-brand-blue: var(--brand-blue);
  --color-brand-lime: var(--brand-lime);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #0a0a0a;
  }
}
/* 
.Wrapper {
  @apply w-full max-w-[1440px] mx-auto px-4 ;
} */

.Inner-wrapper {
  @apply w-full lg:max-w-[1200px] mx-auto lg:px-0 px-4; 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space), ui-sans-serif, system-ui;
}
